.header__lang-link {
    color: #fff;
    font-size: 18px;
    line-height: 1.15;
    padding: 0;
    text-decoration: none;
}

.header__lang-link:last-of-type {
    margin: 0 0 0 18px;
}

.header__lang-link:hover {
    opacity: .5;
    transition: opacity linear 0.3s;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        font-size: 24px;
    }
}