.header__lang-link {
    color: #fff;
    font-size: 18px;
    line-height: 1.15;
    position: absolute;
    right: 56px;
    top: 30px;
}

.header__lang-link:last-of-type {
    position: absolute;
    right: 16px;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: .5;
    transition: opacity linear 0.3s;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        font-size: 24px;
    }

    .header__lang-link {
        right: 71px;
        top: 46px;
    }
    
    .header__lang-link:last-of-type {
        right: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .header__lang-link {
        right: 95px;
    }
    
    .header__lang-link:last-of-type {
        right: 48px;
    }
}
