.places {
    margin: 0 auto 66px;
    width: 100vw;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .places {
        margin: 0 auto 90px;
        /* width: 93.75vw; */
        max-width: 928px;
    }
}

@media screen and (min-width: 1024px) {
    .places {
        margin: 0 auto 92px;
        /* width: 90.625vw; */
        max-width: 984px;
    }
}