.main-picture__caption {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 50%;
    margin: 8px 0 0 16px;
}

@media screen and (min-width: 768px) {
    .main-picture__caption {
        margin: 8px 0 0 24px;
    }
}

@media screen and (min-width: 928px) {
    .main-picture__caption {
        margin: 8px 0 0 0;
    }
}