.lead {
    color: #FFF;
    margin: 49px auto 64px;
    width: 100vw;
    max-width: 928px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1280px) {
    .lead {
        max-width: 984px;
        margin: 58px auto 92px;
    }
}