.lead {
    color: #FFF;
    margin: 48px auto 0;
}

@media screen and (min-width: 768px) {
    .lead {
        margin: 48px auto 0;
        max-width: 928px;
    }
}

@media screen and (min-width: 1024px) {
    .lead {
        margin: 48px auto 0;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        margin: 56px auto 0;
        max-width: 984px;
    }
}