.cover__subtitle {
	margin: 0;
	font-size: 14px;
	line-height: 1.15;
	text-align: center;
	width: 100%;
	max-width: 288px;
	color: #fff;
	z-index: 1;
}

@media screen and (min-width: 768px) {
	.cover__subtitle {
		font-size: 18px;
		line-height: 1.22;
		max-width: 360px;
	}
}