.footer__list-link {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (min-width: 768px) {
    .footer__list-link {
        flex-direction: row;
    }
}