.lead__subtitle {
    margin: 16px auto 40px;
    font-size: 5vw;
    line-height: 1.25;
    text-align: center;
    width: fit-content;
    max-width: 640px;
}

@media screen and (min-width: 600px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 1.2;
    }
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        margin: 32px auto 56px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
        margin: 32px auto 64px;
    }
}