.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    position: relative;    
    color: #FFF;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 62.5vw;
}

.cover::before {
    content: ' ';
    opacity: .3;
    background: #2A2C2F;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cover:hover::before {
    opacity: .8;
    transition: opacity .4s linear;
} 


@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        height: 740px;
    }
}