.grid-area__image {
    grid-area: image;
    width: 100%;
    max-width: 340px;
    justify-self: center;
}

@media screen and (min-width: 772px) {
    .grid-area__image {
        width: 44.5vw;
        max-width: 440px;
    }
}

@media screen and (min-width: 1280px) {
    .grid-area__image {
        max-width: 460px;
    }
}

