.cover__title {
	margin: 33px auto 16px;
	font-weight: bold;
	font-size: 32px;
	line-height: 1.09;
	text-align: center;
	position: relative;
	width: 288px;
}

@media screen and (min-width: 768px) {
	.cover__title {
		margin: 115px auto 32px;
		font-size: 72px;
		line-height: 1.06;
		width: 560px;
	}
}

	@media screen and (min-width: 1024px) {
		.cover__title {
			margin: 195px auto 32px;
		}
	}

	@media screen and (min-width: 1280px) {
		.cover__title {
			margin: 245px auto 32px;
		}
	}