.cover__title {
	margin: 0 0 16px;
	font-weight: bold;
	font-size: 10vw;
	line-height: 1.09;
	text-align: center;
	max-width: 75%;
	color: #fff;
	z-index: 1;
}

@media screen and (min-width: 768px) {
	.cover__title {
		margin: 0 0 32px;
		font-size: 72px;
		line-height: 1.06;
		max-width: 560px;
	}
}