/*p.s. - как вариант: фоном контейнера сделать polka ч/з стили, а way указать в разметке внутри бокса*/

.lead__image-overlay {
    position: relative;
    z-index: 1;
}


.lead__image-overlay::before {
    content: ' ';
    background-image: url(../../../images/lead-way.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    top: 14%;
    bottom: 27%;
    left: 2%;
    right: 2%;
    z-index: 2;
}