.footer {
    padding: 64px 118px 24px 16px;
    color: #fff;
    margin: auto;
    max-width: 1184px;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 88px 25px 25px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 92px 48px 24px;
    }
}