.grid-area__title {
    grid-area: title;
    font-size: 32px;
    line-height: 1.09;
    font-weight: bold;
    align-self: end;
    margin: 0 16px 0;
}

@media screen and (min-width: 768px) {
    .grid-area__title {
        font-size: 5.46875vw;
        line-height: 1.1;
        margin: 0;
        width: 97%;
    }
}

@media screen and (min-width: 772px) {
    .grid-area__title {
        width: min-content;
    }
}

@media screen and (min-width: 1024px) {
    .grid-area__title {
        font-size: 72px;
        line-height: 1.06;
    }
}
