.places__grid-area {
    margin:0 0 49px;
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: repeat(4, auto);
    row-gap: 25px;
    grid-template-areas: 
    "title" 
    "image"
    "text"
    "text2";
    }

.places__grid-area:nth-of-type(5) {
    margin: 0;
    grid-template-areas: 
    "title" 
    "image"
    "text";
    }


@media screen and (min-width: 768px) {
    .places__grid-area {
        margin:0 0 73px;
        grid-template-columns: 340px 352px;
        grid-template-rows: repeat(3, auto);
        gap: 25px 28px;
        grid-template-areas: 
        "title website" 
        "image text"
        "image text2";
    }

    .places__grid-area:nth-of-type(5) {
        grid-template-areas: 
        "title website" 
        "image text";
    }
}

@media screen and (min-width: 1024px) {
    .places__grid-area {
        margin:0 0 80px;
        grid-template-columns: 440px 456px;
        gap: 26px 32px;
    }
}

@media screen and (min-width: 1280px) {
    .places__grid-area {
        grid-template-columns: 460px 484px;
        gap: 26px 40px;
    }
}